{% extends "layout.htm" %}

    {% set pageId = "page-create-account" %}

    {% block styles %}
        <link rel="stylesheet" href="./style/style.css">
    {% endblock styles %}

    {% block content %}
        {% include "partials/page-holder.htm" %}
        <form action="/saveaccount" method="POST">
            <div class="style-info">
                <p>Informe seu nome</p>
                <input type="text" name="userName" id="" placeholder="Nome" required>
            </div>
            <div class="style-info">
                <p>Informe sua data de nascimento</p>
                <input type="date" name="datebirth" id="" required>
            </div>
            <div class="style-info">
                <p>Digite sua senha</p>
                <input type="password" name="password" id="" placeholder="Insira sua senha" required>
            </div>
            
            <div class="style-info">
                <button type="submit">Criar Conta</button>
            </div>

        </form>
    {% endblock content %}

    {% block scripts %}
        <script src="./scripts/index.js"></script>
    {% endblock scripts %}